/*· reglas: son todos los selectores, declarciones,propiedades,valores
selectores: esta comformado de como identificamos un elemto html
son capaces  de identificar uno o mas elementos de mi html

declaraciones: es acerca de todo  lo que hacemos con los selectores 

propiedades: son las cosas particulares que podemos hacer con los elementos 

valores:son esas cosas que esperas recibir como variables las propiedades para actuar de forma correcta   ·*/
   
/*·ejemplo de cada regla ( uan regla es esto 
 hearder¨¨{ 
  background: pink;
 } un selector es  esto ( hearder o la etiqueta que este utilizando)
 una propieda el atributo de la etiqueta
  y el valor es lo que le estoy asignando a mi  etiqueta ·*/
            
 /* .link ( mi selector por el momento )*/
  /*como hacer un selector de id en css ejemplo # portafolio */
 /* puedo representar de tres formas los colores en css 
 1) se puede representar en una palabra clave ejemolo red o tipos a si 
 hay colores que tienen numeros o alis pero suelen aparecer en la documentacion 
  tambien hay transaparen para colores transparentes seria lo mismo que no poner nada pero desues nos va ayudar por si queremos poner color otra manera es usando hexadecimales ,hls o hlsa esto es un atajo rapido */

body{
    font-family: 'source sans pro' , sans-serif;
}

 h1,
 h2,
 h3,
 h4,
 h5,
 h6{
    font-family: 'Fjalla one ', sans-serif;
}
            

           
        
             
             



