/*· reglas: son todos los selectores, declarciones,propiedades,valores
selectores: esta comformado de como identificamos un elemto html
son capaces  de identificar uno o mas elementos de mi html

declaraciones: es acerca de todo  lo que hacemos con los selectores 

propiedades: son las cosas particulares que podemos hacer con los elementos 

valores:son esas cosas que esperas recibir como variables las propiedades para actuar de forma correcta   ·*/
   
/*·ejemplo de cada regla ( uan regla es esto 
 hearder¨¨{ 
  background: pink;
 } un selector es  esto ( hearder o la etiqueta que este utilizando)
 una propieda el atributo de la etiqueta
  y el valor es lo que le estoy asignando a mi  etiqueta ·*/
            
 /* .link ( mi selector por el momento )*/
  /*como hacer un selector de id en css ejemplo # portafolio */
 /* puedo representar de tres formas los colores en css 
 1) se puede representar en una palabra clave ejemolo red o tipos a si 
 hay colores que tienen numeros o alis pero suelen aparecer en la documentacion 
  tambien hay transaparen para colores transparentes seria lo mismo que no poner nada pero desues nos va ayudar por si queremos poner color otra manera es usando hexadecimales ,hls o hlsa esto es un atajo rapido */
  /*text-transform: uppercase;
  text-decoration: dashed;*/
  /* con url y ('../ me salgo de el archivo de css para meterme a otro arcivo y arrastrar algo de el asta mi css*/

body{
    font-family: 'source sans pro' , sans-serif;
    margin: 0;
}

 h1,
 h2,
 h3,
 h4,
 h5,
 h6{
    font-family: 'Fjalla one ', sans-serif;
    font-weight: normal;
    
    /*font-style: italic;*/
}
h1{
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /*margin: 100px 150px 70px 30px;*/

}
h1 strong{
    color: #ef83af;
    
}
h2 { 
    color: #a63668; 
    text-transform: uppercase;
    font-family: 'source sans pro' , sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.hero{
    height: 300px;
    background-image: url('../imagenes/fotodefrida.jpg');
    background-color: #ffc41e;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x:right;
    display:  flex;
    align-items: center;
    justify-content: space-between;
   
}
.hero-image{
    object-fit: cover;
}
.portafolio{
   background: white; 
   padding: 15px;
   /*background:#ccfcfd;*/
}
.project{
    /*border-top: 10px solid pink;
    border-right: 10px solid black;
    border-left: 10px solid orange;
    border-bottom: 10px solid red;
    si no le asigno color a mi borde este por defecto me va poner mi borde color negro
     color: blue;
     border-top-color: black
     border-top-width: 15px;
     border-top-style: solid; */
     /*border-top-left-radius: 20px;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;*/
     /*margin-right: ;
     margin-left: ;
     margin-top: ;*/
     border: 1px solid palevioletred;
     border-radius: 10px;
   
     margin-bottom: 15px;
     padding: 20px ;
     background: white;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.project-date,
.project-course
.project-url{
    margin: 10px 0;
}
.project-description{
    font-size: 100px;
}
.project strong{
    font-family: 'fjalla one', sans-serif ;
}
/*.project-date{
    margin 10px 0*/

     
.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

    
.project-details{
    width: 500px;
}
.project-imagecontainer{
    width: 400px;
}
.header{
    background-color: #ffc41e;
    color: white;
    display: flex;
    height: 90px;
    /*align-items: center;*/
    justify-content: space-between;
    
}
ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header a {
    color: white;
    text-decoration: none;
   
}
.menu{
    height: inherit;
}
.header ol{
    display: flex;
    height: inherit;
}
.header ol li {
    height: inherit;
}
.header a {
  
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}



figure{
    margin: 0;
}


           
/* flex-direction : column esto me permite que mis cajanos no esten juntas si no uno encima de la otra */
.flexbox{
    display: flex;
    /*flex-wrap: nowrap;*/
    flex-wrap: wrap;
} 

.box{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid plum;
    flex-shrink: 0;
}
  
.footer{
    color: white;
    background-color: plum;
    /*display: flex;*/
    align-items: center;
    justify-content: space-between;
}
.footer img{
    vertical-align: middle;
}
.footer a {
    color: white;
}

.event-list{
    display: flex;
    flex-wrap: wrap;
    
}
.event{
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: white;
   

}
.event img{
    width: 480px;
    height: 250px;
    object-fit: cover;
}
.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: wheat ;
    position: relative;
    padding: 20px;
    text-align: center;
    
}
.event-description{
    text-align: left;
}
.event-url{
    border: 1px solid;
    padding:  5px 20px ;
    text-decoration: none;
    color: red;
    border-radius: 5px;
}
.event-list-title{
    margin-left: 20px;
    
}
.contact{
    background-color: pink;
    color:white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px ;
}
.social-link.youtube{
    background-image: url('../imagenes/youtube.png');
    
}
.social-link.facebook{
    background-image: url('../imagenes/facebook.jpg');
    
}
.social-link.instagram{
    background-image: url('../imagenes/instagram.jpg');
    
}
.social-link.github{
    background-image: url('../imagenes/github.png');
    
}
.form-email input{
    border-color: violet;
    border-style: solid;
    border-radius: 5px;
    padding: 10px  20px 10px 25px;
    background-image: url('../imagenes/correo.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;

}
.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 5px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    /*margin: 10px auto;*/
}
.form-email h3{
    font-family: 'source sans pro' , sans-serif;
}
.container{
   /*border: 1px solid red ;*/
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;

}
@media screen and (max-width: 768px){
    body{
        border: solid 10px purple
    }
}



