/*· reglas: son todos los selectores, declarciones,propiedades,valores
selectores: esta comformado de como identificamos un elemto html
son capaces  de identificar uno o mas elementos de mi html

declaraciones: es acerca de todo  lo que hacemos con los selectores 

propiedades: son las cosas particulares que podemos hacer con los elementos 

valores:son esas cosas que esperas recibir como variables las propiedades para actuar de forma correcta   ·*/
   
/*·ejemplo de cada regla ( uan regla es esto 
 hearder¨¨{ 
  background: pink;
 } un selector es  esto ( hearder o la etiqueta que este utilizando)
 una propieda el atributo de la etiqueta
  y el valor es lo que le estoy asignando a mi  etiqueta ·*/
            
 /* .link ( mi selector por el momento )*/
  /*como hacer un selector de id en css ejemplo # portafolio */
 /* puedo representar de tres formas los colores en css 
 1) se puede representar en una palabra clave ejemolo red o tipos a si 
 hay colores que tienen numeros o alis pero suelen aparecer en la documentacion 
  tambien hay transaparen para colores transparentes seria lo mismo que no poner nada pero desues nos va ayudar por si queremos poner color otra manera es usando hexadecimales ,hls o hlsa esto es un atajo rapido */
  /*text-transform: uppercase;
  text-decoration: dashed;*/
  /* con url y ('../ me salgo de el archivo de css para meterme a otro arcivo y arrastrar algo de el asta mi css*/

body{
    font-family: 'source sans pro' , sans-serif;
}

 h1,
 h2,
 h3,
 h4,
 h5,
 h6{
    font-family: 'Fjalla one ', sans-serif;
    font-weight: normal;
    
    /*font-style: italic;*/
}
h1{
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -.2px;
    color: white;
    margin: 100px 150px 70px 30px;
}
h1 strong{
    color: #ef83af;
}
.hero{
    height: 300px;
    background-image: url('../imagenes/fotodefrida.jpg');
    background-color: #ffc41e;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x:right;
}
.project{
    /*border-top: 10px solid pink;
    border-right: 10px solid black;
    border-left: 10px solid orange;
    border-bottom: 10px solid red;
    si no le asigno color a mi borde este por defecto me va poner mi borde color negro
     color: blue;
     border-top-color: black
     border-top-width: 15px;
     border-top-style: solid; */
     border: 1px solid palevioletred;
     border-radius: 10px;
     /*border-top-left-radius: 20px;
     border-top-right-radius: 10px;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;*/
     margin-bottom: 15px;
     /*margin-right: ;
     margin-left: ;
     margin-top: ;*/
     


    
}
.project-details{
    width: 500px;
}
.project-imagecontainer{
    width: 400px;
}
.header{
    background-color: #ffc41e;
    color: white;
}
.header a {
    color: white;
    text-decoration: none;
}


           
        
             
             



